@media (max-width: 999px) {
  .navbar {
    .hamburger {
      display: block !important;
    }

    .navbar-nav {
      width: 100% !important;
      height: calc(100vh - 90px);
      position: absolute;
      top: 90px;
      right: -100%;
      z-index: 999;
      background-color: var(--light-color);
      flex-direction: column !important;
      justify-content: flex-start !important;
      padding: 20px 15px;
      transition: all .3s linear;
      
      li {
        margin: 0px 0px 20px 0px !important;

        a:hover {
          &::after {
            width: 100px !important;
          }
        }
      }

      &.active-nav {
        right: 0px !important;
      }
    }
  }

  header {
    padding-bottom: 70px;

    h1 {
      font-size: 20px !important;
    }
  }

  footer .contain {
    .brand-name img {
      object-position: right;
    }
  }
}